<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Iftekhar Ahamed Siddiquee</title>

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.html">IFTEKHAR</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto " href="#onlineJudge">Problem Solving</a></li>
          <li><a class="nav-link scrollto " href="#achievement">Achievement</a></li>
          <li><a class="nav-link scrollto " href="#project">Project</a></li>
          <li><a class="nav-link scrollto" href="#experience">Experience</a></li>
          <li><a class="nav-link scrollto " href="assets/CV/Resume.pdf">Resume</a></li>

          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <div id="hero" class="hero route bg-image" style="background-image: url(assets/img/hero-bg.png)">
    <div class="overlay-itro"></div>
    <div class="hero-content display-table">
      <div class="table-cell">
        <div class="container">
          <!--<p class="display-6 color-d">Hello, world!</p>-->
          <h1 class="hero-title mb-4">I'm Iftekhar Ahamed Siddiquee</h1>
          <p class="hero-subtitle"><span class="typed" data-typed-items="Problem Solver, Fast learner, Trainner"></span>
          </p>
          <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
        </div>
      </div>
    </div>
  </div><!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="box-shadow-full">
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-sm-6 col-md-5">
                      <div class="about-img">
                        <img src="assets/img/MyPic.png" class="img-fluid rounded b-shadow-a" alt="">
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-7">
                      <div class="about-info">
                        <p><span class="title-s">Name: </span> <span> Iftekhar Ahamed Siddiquee</span></p>
                        <p><span class="title-s">Email: </span> <span> iftekharahamed56@gmail.com</span></p>
                        <p><span class="title-s">Phone: </span> <span> (+88)01612158329</span></p>
                        <p><span class="title-s">University : </span> <span> Bangladesh University Of Business And
                            Technology(BUBT)</span></p>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="about-me pt-4 pt-md-0">
                    <div class="title-box-2">
                      <h5 class="title-left">
                        About me
                      </h5>
                    </div>
                    <p class="lead">
                      I am an deep learning enthusiast and a competitive programmer.Overall solved 1500+ Algorithem,Data
                      Structures problems and <b>Problem Setter</b> at Bangladesh University Of Business And
                      Technology.<b>Champion</b> at IUBAT Collaborative
                      Contest 2023.I'm
                      working as a competitive
                      programming trainer in Bangladesh University Of Business And Technology(BUBT).I have perticipated
                      Inter University
                      Programming Contest 2 times Champion 1 time and
                      runners-up 1 time.Participate 5+ Intra University Programming Contest <b>(IUPC)
                        (BUET(2),RUET,AUST,UITS)</b>.I
                      also perticipate <b>ICPC Dhaka regional contest 2022</b>.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->





    <!-- ======= Online Judge Section ======= -->
    <section id="onlineJudge" class="blog-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                online Judge Solve
              </h3>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="card card-blog">
              <div class="card-img">
                <img src="assets/img/codeforce.png" alt="" class="img-fluid">
              </div>
              <div class="card-body">
                <div class="card-category-box">
                  <div class="card-category">
                    <h6 class="category">codeforce</h6>
                  </div>
                </div>
                <li class="card-title"><a href="https://codeforces.com/profile/GUSSURI">Specialist at Codeforces</a>
                </li>
                <li class="card-title"><a href="https://codeforces.com/profile/GUSSURI">Max Rating : <u>1457</u></a>
                </li>
                <li class="card-title"><a href="https://codeforces.com/profile/GUSSURI">Total Solve: <u>670+</u></a>
                </li>
                <li class="card-title"><a
                    href="https://codeforces.com/contest/1791/standings/participant/149043605#p149043605">Best rank :
                    <u>724</u></a></li>
              </div>
              <div class="card-footer">
                <div class="post-author">
                  <a href="https://codeforces.com/profile/GUSSURI">
                    <span class="author">VIEW IN CODEFORCES</span>
                  </a>
                </div>
                <div class="post-date">
                  <a href="https://codeforces.com/profile/GUSSURI">
                    <span></span> GUSSURI
                  </a>

                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-blog">
              <div class="card-img"><img src="assets/img/codechef.png" alt="" class="img-fluid">
              </div>
              <div class="card-body">
                <div class="card-category-box">
                  <div class="card-category">
                    <h6 class="category">codechef</h6>
                  </div>
                </div>
                <li class="card-title"><a href="https://www.codechef.com/users/iftekhar_ahame">3* at Codechef</a></li>
                <li class="card-title"><a href="https://www.codechef.com/users/iftekhar_ahame">Max Rating :
                    <u>1637</u></a>
                </li>
                <li class="card-title"><a href="https://www.codechef.com/users/iftekhar_ahame">Total Solve:
                    <u>63</u></a></li>
                <li class="card-title"><a href="https://www.codechef.com/users/iftekhar_ahame">Country rank :
                    <u>495</u></a></li>
              </div>
              <div class="card-footer">
                <div class="post-author">
                  <a href="https://www.codechef.com/users/iftekhar_ahame">
                    <span class="author">VIEW IN CODECHEF</span>
                  </a>
                </div>
                <div class="post-date">
                  <a href="https://www.codechef.com/users/iftekhar_ahame">
                    <span></span> Iftekhar Ahamed Siddiquee
                  </a>

                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-blog">
              <div class="card-img"><img src="assets/img/uva.png" alt="" class="img-fluid">
              </div>
              <div class="card-body">
                <div class="card-category-box">
                  <div class="card-category">
                    <h6 class="category">UVA</h6>
                  </div>
                </div>
                <li class="card-title"><a href="https://uhunt.onlinejudge.org/id/1151027">UVA :
                    <u>Iftekhar Ahamed Siddiquee</u></a>
                </li>
                <li class="card-title"><a href="https://uhunt.onlinejudge.org/id/1151027">Total Solve:
                    <u>201</u></a></li>
                <p><br><br>
                </p>
              </div>
              <div class="card-footer">
                <div class="post-author">
                  <a href="https://uhunt.onlinejudge.org/id/1151027">
                    <span class="author">VIEW IN UVA</span>
                  </a>
                </div>
                <div class="post-date">
                  <a href="https://codeforces.com/profile/GUSSURI">
                    <span></span> Iftekhar Ahamed Siddiquee
                  </a>

                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-blog">
              <div class="card-img"><img src="assets/img/lightoj.png" alt="" class="img-fluid">
              </div>
              <div class="card-body">
                <div class="card-category-box">
                  <div class="card-category">
                    <h6 class="category">LightOj</h6>
                  </div>
                </div>
                <li class="card-title"><a href="https://lightoj.com/user/iftekharaham55">LightOj :
                    <u>Iftekhar Ahamed Siddiquee</u></a>
                </li>
                <li class="card-title"><a href="https://lightoj.com/user/iftekharaham55">Total Solve:
                    <u>60</u></a></li>
                <p><br><br>
                </p>
              </div>
              <div class="card-footer">
                <div class="post-author">
                  <a href="https://lightoj.com/user/iftekharaham55">
                    <span class="author">VIEW IN LIGHTOJ</span>
                  </a>
                </div>
                <div class="post-date">
                  <a href="https://lightoj.com/user/iftekharaham55">
                    <span></span> Iftekhar Ahamed Siddiquee
                  </a>

                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-blog">
              <div class="card-img"><img src="assets/img/CSES.png" alt="" class="img-fluid">
              </div>
              <div class="card-body">
                <div class="card-category-box">
                  <div class="card-category">
                    <h6 class="category">CSES</h6>
                  </div>
                </div>
                <li class="card-title"><a href="https://cses.fi/problemset/user/95967/">CSES :
                    <u>Iftekhar Ahamed Siddiquee</u></a>
                </li>
                <li class="card-title"><a href="https://cses.fi/problemset/user/95967/">Total Solve:
                    <u>68</u></a></li>
                <p><br><br>
                </p>
              </div>
              <div class="card-footer">
                <div class="post-author">
                  <a href="https://cses.fi/problemset/user/95967/">
                    <span class="author">VIEW IN CSES</span>
                  </a>
                </div>
                <div class="post-date">
                  <a href="https://cses.fi/problemset/user/95967/">
                    <span></span> Iftekhar Ahamed Siddiquee
                  </a>

                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-blog">
              <div class="card-img"><img src="assets/img/others.png" alt="" class="img-fluid">
              </div>
              <div class="card-body">
                <div class="card-category-box">
                  <div class="card-category">
                    <h6 class="category">OTHERS</h6>
                  </div>
                </div>
                <li class="card-title"><a href="https://vjudge.net/user/Iftekhar_Ahamed ">Vjudge :
                    <u>Iftekhar Ahamed Siddiquee</u></a>
                </li>
                <li class="card-title"><a href="https://www.beecrowd.com.br/judge/en/profile/426161">Beecrowed :
                    <u>Iftekhar Ahamed Sid....</u></a>
                </li>
                <li class="card-title"><a href="https://atcoder.jp/users/Iftekhar_Ahamed">Atcoder :
                    <u>Iftekhar Ahamed Siddiquee</u></a>
                <li class="card-title"><a href="https://www.hackerrank.com/I_F_T_E_K_H_A_R">Hackerrank :
                    <u>Iftekhar Ahamed Sid....</u></a>
              </div>
              <div class="card-footer">
                <div class="post-author">
                  <a href="https://cses.fi/problemset/user/95967/">
                  </a>
                </div>
                <div class="post-date">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End onlineJudge Section -->


    <!-- ======= Achievement Section ======= -->
    <section id="achievement" class="portfolio-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                Achievement
              </h3>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="work-box">
              <a href="assets/img/ICPC2021.png" data-gallery="portfolioGallery" class="portfolio-lightbox">
                <div class="work-img">
                  <img src="assets/img/ICPC2021.png" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">ICPC 2021</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Perticipate ICPC 2021
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <a href="https://github.com/Iftekhar-Ahamed/Achivements/blob/main/ICPC-21.pdf"> <span
                          class="bi bi-github"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="assets/img/IUBAT23.png" data-gallery="portfolioGallery" class="portfolio-lightbox">
                <div class="work-img">
                  <img src="assets/img/IUBAT23.png" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Champion at IUBAT Collaborative Contest 2023</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Perticipated University DIU,UAP,BUBT,GUB,UITS and IUBAT.<br>Team Name:
                        BUBT_RavenClaw</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <a
                        href="https://toph.co/contests/training/b3lljkz/standings?fbclid=IwAR3ziK_Z5J69RNwyoHWQWAt-8iMRaB_9j4stOebGkSIv-qb67GOBn4Ccp0k">
                        <span class="bi bi-github"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="assets/img/BUET2022.png" data-gallery="portfolioGallery" class="portfolio-lightbox">
                <div class="work-img">
                  <img src="assets/img/BUET2022.png" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">BUET IUPC 2022 AND 2023</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Perticipate BUET IUPC 2023 and 2022
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <a href="https://github.com/Iftekhar-Ahamed/Achivements/blob/main/BUET-IUPC-22.pdf"> <span
                          class="bi bi-github"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="assets/img/RUET2022.png" data-gallery="portfolioGallery" class="portfolio-lightbox">
                <div class="work-img">
                  <img src="assets/img/RUET2022.png" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">RUET IUPC 2022</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Perticipate RUET IUPC 2022
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <a href="https://github.com/Iftekhar-Ahamed/Achivements/blob/main/RUET-IUPC-22.pdf"> <span
                          class="bi bi-github"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="assets/img/AUST2022.png" data-gallery="portfolioGallery" class="portfolio-lightbox">
                <div class="work-img">
                  <img src="assets/img/AUST2022.png" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">AUST IUPC 2022</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Perticipate AUST IUPC 2022
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <a href="https://github.com/Iftekhar-Ahamed/Achivements/blob/main/AUST-IUPC-22.pdf"> <span
                          class="bi bi-github"></span></a>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="assets/img/ProblemSetter.png" data-gallery="portfolioGallery" class="portfolio-lightbox">
                <div class="work-img">
                  <img src="assets/img/ProblemSetter.png" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Problem Setter And Judge</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Problem setter and Judge in BIUPC
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <a href="https://github.com/Iftekhar-Ahamed/Achivements/blob/main/PROBLEM-SETTER.pdf"> <span
                          class="bi bi-github"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="assets/img/camp.png" data-gallery="portfolioGallery" class="portfolio-lightbox">
                <div class="work-img">
                  <img src="assets/img/camp.png" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Programming Camp 2023</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Pericipate ICPC Programming Camp 2023
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <a href="https://github.com/Iftekhar-Ahamed/Achivements/blob/main/ProgrammingCamp.pdf"> <span
                          class="bi bi-github"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section><!-- End achievement Section -->


    <!-- ======= Project Section ======= -->
    <section id="project" class="portfolio-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                Project
              </h3>
              <p class="subtitle-a">
                My all project
              </p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="work-box">
              <a href="assets/img/peopledesk.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox">
                <div class="work-img">
                  <img src="assets/img/peopledesk.jpg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Project-1</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Web Design</span> / <span class="w-date">18 Sep. 2018</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <a href="#"> <span class="bi bi-github"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="assets/img/iboserp.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox">
                <div class="work-img">
                  <img src="assets/img/iboserp.jpg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Project-1</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Web Design</span> / <span class="w-date">18 Sep. 2018</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <a href="#"> <span class="bi bi-github"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="assets/img/BUBTPS.png" data-gallery="portfolioGallery" class="portfolio-lightbox">
                <div class="work-img">
                  <img src="assets/img/BUBTPS.png" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Project-1</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Web Design</span> / <span class="w-date">18 Sep. 2018</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <a href="#"> <span class="bi bi-github"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Project Section -->

    <!-- ======= Experience Section ======= -->
    <section id="experience" class="services-mf pt-5 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                Experience
              </h3>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="bi bi-briefcase"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Web Design</h2>
                <p class="s-description text-center">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem fugiat! Quia,
                  provident vitae! Magni
                  tempora perferendis eum non provident.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="bi bi-card-checklist"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Problem Solving</h2>
                <p class="s-description text-center">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem fugiat! Quia,
                  provident vitae! Magni
                  tempora perferendis eum non provident.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="bi bi-bar-chart"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Photography</h2>
                <p class="s-description text-center">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem fugiat! Quia,
                  provident vitae! Magni
                  tempora perferendis eum non provident.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="bi bi-binoculars"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Responsive Design</h2>
                <p class="s-description text-center">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem fugiat! Quia,
                  provident vitae! Magni
                  tempora perferendis eum non provident.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="bi bi-brightness-high"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Graphic Design</h2>
                <p class="s-description text-center">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem fugiat! Quia,
                  provident vitae! Magni
                  tempora perferendis eum non provident.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="bi bi-calendar4-week"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Marketing Experience</h2>
                <p class="s-description text-center">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem fugiat! Quia,
                  provident vitae! Magni
                  tempora perferendis eum non provident.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End experience Section -->




    <!-- ======= Contact Section ======= -->
    <section id="contact" class="paralax-mf footer-paralax bg-image sect-mt4 route">
      <div class="overlay-mf"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="contact-mf">
              <div id="contact" class="box-shadow-full">
                <div class="row">
                  <div class="col-md-6">
                    <div class="title-box-2 pt-4 pt-md-0">
                      <h5 class="title-left">
                        Get in Touch
                      </h5>
                    </div>
                    <div class="more-info">
                      <p class="lead">
                      <h1> Iftekhar Ahamed Siddiquee</h1><br>
                      <b>Competitive Programmer,Student</b>
                      </p>
                      <ul class="list-ico">
                        <li><span class="bi bi-geo-alt"></span> Mirpur-14,Dhaka</li>
                        <li><span class="bi bi-phone"></span>(+88)01612158329</li>
                        <li><span class="bi bi-envelope"></span>iftekharahamed56@gmail.com</li>
                      </ul>
                    </div>
                    <div class="socials">
                      <ul>
                        <li><a href=""><span class="ico-circle"><i class="bi bi-facebook"></i></span></a></li>
                        <li><a href=""><span class="ico-circle"><i class="bi bi-instagram"></i></span></a></li>
                        <li><a href=""><span class="ico-circle"><i class="bi bi-twitter"></i></span></a></li>
                        <li><a href=""><span class="ico-circle"><i class="bi bi-linkedin"></i></span></a></li>
                        <li><a href=""><span class="ico-circle"><i class="bi bi-github"></i></span></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="copyright-box">
            <p class="copyright">&copy; Copyright <strong>Iftekhar Ahamed Siddiquee</strong>. All Rights Reserved</p>
          </div>
        </div>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/typed.js/typed.min.js"></script>
  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>